:root {

  --page_title_font: 1.7rem var(--_font_family_0);

  --page_auther_n_time_font: 1rem var(--_font_family_0);

  --page_view_font: 1rem var(--_font_family_0);

  --page_url_label_font: 1rem var(--_font_family_0);
  --page_url_font: 1rem "Courier New";

  --delete_page_bg_color: transparent;
  --delete_page_color: var(--_inverted_color);
  --delete_page_font: 1rem var(--_font_family_0);
}

.page_list_element {
  background-color: #ffffff;
  width: -webkit-fill-available;
  padding: 0.5rem;
  margin-top: 0.6rem;
  margin-left: 0;
  margin-bottom: 0.6rem;
  margin-right: 0;
  border: var(--normal_border);
  border-radius: 3px;
}
.page_title {
  background-color: #ffffff;
  color: #000;
  height: fit-content;
  width: fit-content;
  margin: 1.2rem 0;
  text-decoration: none;
  font: var(--page_title_font);
  border: 0;
}
.page_title:hover {
  outline: none;
  border: 0;
}
.page_auther_n_time {
  font: var(--page_auther_n_time_font);
}
.page_info_container {
    width: 20rem;
}
.page_views {
  margin-left: 0;
  margin-bottom: auto;
  font: var(--page_view_font);
}
.page_url {
  margin-left: 0;
  margin-top: auto;
  font: var(--page_url_label_font);
  cursor: pointer;
}
.page_url span {
  font: var(--page_url_font);
}
.page_delete {
  background-color: var(--delete_page_bg_color);
  font: var(--delete_page_font);
  color: var(--delete_page_color);
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.page_delete:active {
  border: 0;
  outline: none;
}