
    <header class='_flex_row _centerV_items _fill_available'>
        <p class='title _left'>MNIT</p>
        <div class='user_menu_container _right'>
            <div class="user_menu_snippet _right _centerV_items">
                <img src='{% static 'evan.jpg' %}' class='user_profile_image _centerV' onclick='show_user_menu(this)'/>
            </div>
            <div class='user_menu' id='user_menu'>
                <p>Logout</p>
            </div>
        </div>
    </header>

    <nav class='_flex_row _fill_available'>
        <a href='{{ main_url }}{% url 'get_CPageF' %}' class='_left'>Create New Page</a>
        <div class='_right _flex_row'>
            <a href='{{ main_url }}{% url 'home' %}'>Home</a>
            <a href='{{ main_url }}{% url 'pages' %}'>Pages</a>
            <a href='{{ main_url }}{% url 'settings' %}'>Settings</a>
        </div>
    </nav>