.change_form {
  height: fit-content;
  width: fit-content;
}
.form {
  margin-left: 3rem;
}
.form_input {
  display: block;
  margin: 0.5rem 0;
  width: 15rem;
  height: 2rem;
  border: 0.01rem solid #ccc;
  outline: none;
  border-radius: 0.3rem;
}
.form_input:focus {
  border: var(--normal_border);
  outline: none;
}
.form_submit {
  background-color: var(--button_bg_color);
  color: var(--button_text_color);
  width: 15rem;
  height: 2rem;
  border: 0;
  margin: 0.5rem 0;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.form_submit:hover {
  outline: none;
}